/* Estilos específicos para la página de Montallantas */

/* Estilos para el contenido principal */
.main {
    background-color: rgba(254, 254, 254, 0.74);
    padding: 20px;
    color: #000; /* Cambia el color del texto principal según sea necesario */
}

/* Estilos para los servicios de montallantas */
.main .service {
    margin-bottom: 20px;
}

.main .service h3 {
    color: #333; /* Color del título */
}

.main .service p {
    color: #666; /* Color del texto */
}

.main ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

/* Estilos para la barra lateral */
.sidebar {
    background-color: rgba(77, 237, 106, 0.74);
    padding: 20px;
    color: #000000; /* Color del texto */
    word-wrap: break-word; /* Ajustar el texto al encapsulamiento */
    overflow-wrap: break-word; /* Compatibilidad con navegadores más antiguos */
}


/* Estilos para el aside */
.sidebar {
    background-color: rgba(77, 237, 106, 0.74);
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.5rem;
    color: #333;
}

.sidebar p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

